<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%mxEclipseActionSet.label"
            visible="true"
            id="org.mxeclipse.actionSet.matrixOperations">
         <menu
               id="mxEclipse"
               label="%mxEclipse.menu.MxEclipseMenu.label"
               >
            <separator name="mxEclipseMainMenuSeparator"/>
         </menu>
         <action
               class="org.mxeclipse.actions.MxEclipseAction"
               icon="icons/matrix.gif"
               id="mxEclipse.actions.MxEclipseUpdateProgramAction"
               label="%mxEclipse.actions.MxEclipseUpdateProgramAction.label"
               menubarPath="mxEclipse/mxEclipseMainMenuSeparator"
               style="push"
               toolbarPath="mxEclipse"
               tooltip="%mxEclipse.actions.MxEclipseUpdateProgramAction.label"/>
         <action
               class="org.mxeclipse.actions.MxEclipseAction"
               icon="icons/matrix.gif"
               id="mxEclipse.actions.MxEclipseImportProgramsAction"
               label="%mxEclipse.actions.MxEclipseImportProgramsAction.label"
               menubarPath="mxEclipse/mxEclipseMainMenuSeparator"
               style="push"
               toolbarPath="mxEclipse"
               tooltip="%mxEclipse.actions.MxEclipseImportProgramsAction.label"/>
         <action
               class="org.mxeclipse.actions.MxEclipseAction"
               icon="icons/matrix.gif"
               id="mxEclipse.actions.MxEclipseDisconnectMatrixAction"
               label="%mxEclipse.actions.MxEclipseDisconnectMatrixAction.label"
               menubarPath="mxEclipse/mxEclipseMainMenuSeparator"
               style="push"
               toolbarPath="mxEclipse"
               tooltip="%mxEclipse.actions.MxEclipseDisconnectMatrixAction.label">
         </action>
         <action
               class="org.mxeclipse.actions.MxEclipseAction"
               icon="icons/matrix.gif"
               id="mxEclipse.actions.MxEclipseConnectMatrixAction"
               label="%mxEclipse.actions.MxEclipseConnectMatrixAction.label"
               menubarPath="mxEclipse/mxEclipseMainMenuSeparator"
               style="push"
               toolbarPath="mxEclipse"
               tooltip="%mxEclipse.actions.MxEclipseConnectMatrixAction.label"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.mxeclipse.preferences.MxEclipsePreference"
            id="mxEclipse.preferences.MxEclipsePreference"
            name="%mxEclipse.preferences.MxEclipsePreference.label">
         <keywordReference id="mxEclipse.preferences.MxEclipsePreference"/>
      </page>
      <page
            category="mxEclipse.preferences.MxEclipsePreference"
            class="org.mxeclipse.preferences.MxJpoPreference"
            id="mxEclipse.preferences.MxJpoPreference"
            name="%mxEclipse.preferences.MxJpoPreference.label"/>
      <page
            category="mxEclipse.preferences.MxEclipsePreference"
            class="org.mxeclipse.preferences.MxObjectPreference"
            id="mxEclipse.preferences.MxObjectPreference"
            name="%mxEclipse.preferences.MxObjectPreference.label"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.mxeclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="MxEclipse"
            id="MxEclipse">
      </category>
      <view
            name="MxObject"
            icon="icons/matrix.gif"
            category="MxEclipse"
            class="org.mxeclipse.views.MxEclipseObjectView"
            id="org.mxeclipse.views.MxEclipseObjectView">
      </view>
      <view
            category="MxEclipse"
            class="org.mxeclipse.views.MxEclipseBusinessView"
            icon="icons/matrix.gif"
            id="org.mxeclipse.views.MxEclipseBusinessView"
            name="MxBusiness"/>
      <view
            category="MxEclipse"
            class="org.mxeclipse.views.MxEclipseMqlView"
            icon="icons/matrix.gif"
            id="org.mxeclipse.views.MxEclipseMqlView"
            name="MxMQL"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               closeable="true"
               id="org.mxeclipse.views.MxEclipseView"
               moveable="true"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               showTitle="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.mxeclipse.programContribution"
            nameFilter="*.java,*.mql,*.tcl"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.mxeclipse.popupmenu"
               label="%mxEclipse.menu.MxEclipseMenu.label"
               path="additions">
            <separator name="programs"/>
         </menu>
         <action
               class="org.mxeclipse.actions.MxEclipseAction"
               enablesFor="1"
               icon="icons/matrix.gif"
               id="mxEclipse.actions.MxEclipseUpdateProgramAction"
               label="%mxEclipse.actions.MxEclipseUpdateProgramAction.label"
               menubarPath="org.mxeclipse.popupmenu/programs"
               tooltip="%mxEclipse.actions.MxEclipseUpdateProgramAction.label"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.mxeclipse.FindObjects"
            name="Find Objects"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.mxeclipse.commands"
            name="Action Contexts"
            parentId="org.eclipse.ui.contexts.window"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.mxeclipse.FindObjects"
            contextId="org.mxeclipse.commands"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="z"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
               <perspective
            name="%mxEclipse.perspective.name"
            icon="icons/matrix.gif"
            class="org.mxeclipse.views.MxEclipsePerspective"
            id="org.mxeclipse.views.MxEclipsePerspective">
         <description>
            %mxEclipse.perspective.description
         </description>
      </perspective>
   </extension>
</plugin>
